# Database configuration
POSTGRES_USER=hackaton
POSTGRES_PASSWORD=changeme
POSTGRES_DB=events_db

# API keys
TIMEPAD_API_TOKEN=
KULTURA_API_KEY=
MAX_BOT_TOKEN=

# APP configuration
SERVER_PORT=:8080
INGEST_CITIES=Джалиль,Казань
INGEST_INTERVAL=6h
SKIP_INIT_DATA_CHECK=false